xml-resources/web-service-references/WSPPE4/wsdl/localhost_8080/WSPPE4/WSPPE4.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsppe4/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsppe4/">

<xs:element name="exportAsXML" type="tns:exportAsXML"/>

<xs:element name="exportAsXMLResponse" type="tns:exportAsXMLResponse"/>

<xs:element name="importFromXML" type="tns:importFromXML"/>

<xs:element name="importFromXMLResponse" type="tns:importFromXMLResponse"/>

<xs:complexType name="exportAsXML">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="exportAsXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="importFromXML">
<xs:sequence>
<xs:element name="file" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="importFromXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>